<h1>All your animals</h1>

<div class="row">
  <div class="span9">
  <% @animals.each do |animal| %>
    <ul class="animal-list">  
      <li class="li-animal"><h3><%= animal.name %></h3>
      <span class="lables">Species:</span> <%= animal.species.name %><br>
      <span class="lables">Description:</span> <%= animal.description %>
      <%= link_to 'Show', animal %>
      <% if session[:login] == "y" && session[:type] == 0%>
      <%= link_to 'Edit', edit_animal_path(animal) %>
      <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end%>
      </li>
    </ul>
    <hr>
  <% end %>


  <br />
  <% if @user == "admin"%>
  <%= link_to 'New Animal', new_animal_path %>
  <%end%>

  </div>
</div>