
<% if @user == "admin"%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @animal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @animal.description %>
</p>

<p>
  <b>Species:</b>
  <%= @animal.species.name %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal)%> |

<%= link_to 'Back', animals_path %>
<%else%>
<div class="show-content">
	<p id="notice"><%= notice %></p>

	<h2 >
	  <%= @animal.name %>
	</h2>
	<p>
	  <b>Species:</b>
	  <%= @animal.species.name %>
	</p>
	<hr>
	<p>
	  <b>Description:</b>
	  <%= @animal.description %>
	</p>

</div>

<%= link_to 'Back', animals_path %>
<%end%> 

