<!DOCTYPE html>
<html>
<head>
  <title>AnimalsFromZoo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render partial: "shared/header"%>

		<%= render partial: "shared/menu"%>
		<div class="row">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
